body {
  background-color: #260539;
}
a {
  text-decoration: none;
}

/*Reloj analógico colocar url en estilo propio*/
.analogoContainer {
  background-image: url(../../public/funds/analogico.jpg);
}

/*Reloj Digital colocar url en estilo propio*/
 .digitalContainer {
  background-image: url(../../public/funds/digital.jpg);
}

  
 
/***blog**/






 