body {
  background-color: #260539;
}
a {
  text-decoration: none;
}

/*Reloj analógico*/
.bodyAnalogico {
  background-image: url(../../public/funds/analogico.jpg);
  background-size: cover;
  height: 100vh;
}

/*Reloj Digital*/
 .digitalContainer {
  background-image: url(../../public/funds/digital.jpg);
}

  
 


 