body {
  background-color: #260539;
}
a {
  text-decoration: none;
}

/*Reloj analógico colocar url en estilo propio*/
.analogoContainer {
  background-image: url(../../public/funds/analogico.jpg);
}

/*Reloj Digital colocar url en estilo propio*/
 .digitalContainer {
  background-image: url(../../public/funds/digital.jpg);
}

  
 
/***blog**/


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #141212, #c57805);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a02390;
}
.button-container {
  display: flex;
  gap: 10rem;
}
.nav-button {
  background-color: #aedcb0;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-button:hover {
  background-color: #45a049;
}
.content-container {
  padding: 3rem;
  margin: 2rem auto;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(244, 240, 240, 0.1);
}
.blog-title {
  font-size: 2em;
  color: rgb(93, 128, 129);
}
.blog-content {
  font-size: 4rem;
  box-shadow: 0 4px 8px rgba(244, 240, 240, 0.1);
  color: #ab2525;
  background-color: transparent;
}


 